@font-face {
  font-weight: 700;
  font-family: Helvetica;
  src: url("../../fonts/HelveticaBold.ttf");;
}
@font-face {
  font-weight: 400;
  font-family: Helvetica;
  src: url("../../fonts/HelveticaRegular.ttf");;
}
@font-face {
  font-weight: 300;
  font-family: Helvetica;
  src: url("../../fonts/Helvetica-Light.ttf");;
}
body{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}


*{
  padding: 0;
  margin: 0;
}
main{
  position: relative;
}

.main_bg{
  width: 100%;
  height: 400px;
  background: url("../../img/bg/center_bg.png") no-repeat top;
  background-size: cover;
  display: flex;
  align-items: center;
}
.main_bg h1{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  width: 1218px;
  margin: auto;
}
@media screen and (max-width: 1300px) {
  .main_bg h1{
    padding-left: 50px;
  }
  .main_bg{
    background: url("../../img/bg/center_bg.png") no-repeat center;
  }
}
#carouselExampleIndicators, #carouselExampleIndicators_2{
  max-width: 590px;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}

.carousel-indicators button{
  background-color:#004098 !important;
}


/* .swiper-slide img{
  border-radius: 20px;
  max-width: 590px;
  width: 100%;
  height: 340px;
  object-fit: cover;
}
.swiper-pagination span{
  width: 10%;
  height: 5px;
  border-radius: 7px;
} */

.modal-carousel img{
  border-radius: 20px;
} 


.yt_and_img{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
/* iframe{
  width: 100%;
} */

.bg_el{
  position: absolute;
  z-index: -1;
  max-width: 580px;
  width: 100%;
}
.bg_left_1{
  top: 400px;
  left: 0;
}
.direct{
  top: 900px;
  right: 0;
}
.bg_left_2{
  top: 1000px;
  right: 0;
}
.bg_left_3{
  top: 1500px;
  left: 0;
}
.bg_left_4{
  top: 2500px;
  right: 0;
}
.tabs{
  max-width: 916px;
  height: 50px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: #F0F4F9;
  border-radius: 30px;
  border: 1px solid #D7E0F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabs button{
  border: none;
  padding: 11px 30px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  /* background-color: #F0F4F9; */
  cursor: pointer;
}
.tabs button:hover{
  color: #004098;
}

.active_btn{
  background-color: #004098;
  color: #fff;
}
.active_btn:hover{
  color: #fff !important; 
}


.ellipses-left{
  position: absolute;
  left: 0;
  top: 0px;
}
.title{
  font-weight: 700 !important;
  font-size: 32px !important;
  position: relative;
  max-width: 581px;
}
.title img{
  position: absolute;
  left: -50px;
  top: -5px;
}

#container{
  max-width: 1218px;
  margin: auto;
  margin-bottom: 106px;
}
.post_container{
  display: flex;
  justify-content: space-between;
}
.tab_container p{
  max-width: 702px;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: #4D5257;
  line-height: 21px;
  margin-top: 20px;
  margin-bottom: 10px;
}
/* #third_first_tab{
  display: none;
} */
/* #third_second_tab{
  display: none;
} */

@media screen and (max-width: 1200px) {
  .main_bg h1{
    width: 1000px;
  }
  .post_container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .director img{
    padding-left: 30px;
  }
  #container{
  padding-left: 50px;
  padding-right: 50px;
  }
  .yt_and_img{
    flex-direction: column;
    justify-content: center;
  }
  .swiper{
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 960px) {
  .tabs{
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
    border-radius: none;
    border: none;
    width: 375px;
    height: 200px;
  }
  .tabs button{
    border: 1px solid #004098;
    padding: 15px 20px;
  }
  .post_container{
    flex-direction: column;
  }
}
@media screen and (max-width: 470px) {
  .title img{
    display: none;
  }
  .director img{
    padding-left: 0px;
    margin: auto;
    width: 320px;
  }
  .post_container{
    padding-left: 20px;
    padding-right:20px;
  }
  #container{
    padding: 0;
  }
}


.tabs_second{
  max-width: 750px;
  height: auto;
  margin: 0;
  margin-top: 100px;
  margin-bottom: 70px;
}
.img_and_text, .video_and_text{
  display: flex;
  justify-content: space-between;
}
.text_lang{
  display: flex;
  flex-direction: column;
}
.korean_lang_text{
  margin-bottom: 40px;
}
.korean_lang_text h1{
  font-size: 24px;
}
.korean_lang_text p{
  font-size: 14px;
  line-height: 21px;
  margin-top: 25px;
  color: #4D5257;
}
iframe{
  border-radius: 20px;
}

 /* MODAL */
 #modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  gap: 100vh;
  background-color: #00409833;
  padding-top: 200px;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
}
#close{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 11;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #close{
    width: 40px;
    top: 10px;
    right: 10px;
  }
}
#carouselExampleIndicators_modal{
  max-width: 1100px !important;
  width: 100%;
  margin: auto;
}
.my-carousel{
  border-radius: 40px;
}

/* modal end */

@media screen and (max-width: 1300px) {
  .img_and_text, .video_and_text{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
  }
  .korean_lang_text{
    padding-left: 30px;
  }
}
@media screen and (max-width: 1100px) {
  .image img{
    margin-left: 30px;
    width: 500px;
  }

}
@media screen and (max-width: 965px) {
  .video_and_text, .img_and_text{
    flex-direction: column;
  }
  .image, .text_lang, iframe, .korean_lang_text{
    margin: auto;
  }
  .tabs_second{
    margin: auto;
    margin-bottom: 30px;
  }
  .second_container h1{
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
  }
  
}
@media screen and (max-width: 620px) {
  .image{
    max-width: 500px;
  }
  .image img{
    margin: 0;
    width: 100%;
  }
  iframe{
    max-width: 500px;
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  iframe{
    height: 200px;
  }
  .korean_lang_text{
    padding-left: 0;
    margin-top: 20px;
  }
}

.img_l{
  display: flex;
}
.img_f{
  margin-top: 40px;
  max-width: 320px;
  width: 100%;
}
.img_s_t img{
  display: block;
  width: 100%;
}
.center_flex{
  display: flex;
  gap: 20px;
}
@media screen and (max-width:1120px) {
  .img_l{
    flex-direction: column;
  }
}
@media screen and (max-width: 750px) {
  .img_l{
    flex-direction: row;
  }
  .center_flex{
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.d-none{
  display: none;
}
@media screen and (max-width: 370px) {
  .tabs{
    width: 360px;
  }
}


/* second tab */
.cards_center{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.card_item_center{
  max-width: 520px;
  width: 100%;
  min-height: 170px;
  box-shadow: 0px 2px 24px rgba(0, 64, 152, 0.1);
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #4D5257;
  background-color: #fff;
  position: absolute;
  z-index: 9;
}
.card_item_center p{
  padding-left: 28px;
  padding-right: 28px;
}
.card_item_center img{
  max-width: 180px;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
}

.card_item_center:nth-child(add){
  column-gap: 80px;
}
.position{
  position: relative;
  top: 120px;
  left: 42.8%;
  margin-bottom: 100px;
}
.card_item_center:nth-child(2n+1){
  position: absolute;
  right: 0px;
}
.card_item_center:nth-child(2){
  top: 190px;
}
.card_item_center:nth-child(3){
  top: 50px;
}
.card_item_center:nth-child(4){
  right: 0;
  top: 315px;
}
.card_item_center:nth-child(5){
  left:  0;
  top: 440px;
}
.card_item_center:nth-child(6){
  right:   0;
  top: 570px;
}
.card_item_center:nth-child(7){
  left: 0;
  top: 700px;
}
.card_item_center:nth-child(8){
  right: 0;
  top: 830px;
}
.card_item_center:nth-child(9){
  left:  0;
  top: 950px;
}
.card_item_center:nth-child(10){
  right:   0;
  top: 1085px;
}
.card_item_center:nth-child(11){
  left: 0;
  top: 1220px;
}
.card_item_center:nth-child(12){
  right: 0;
  top: 1340px;
}
.card_item_center:nth-child(13){
  left: 0;
  top: 1470px;
}
.card_item_center:nth-child(14){
  right: 0;
  top: 1600px;
}
.card_item_center:nth-child(15){
  left: 0;
  top: 1730px;
}
.card_item_center:nth-child(16){
  right: 0;
  top: 1850px;
}
.card_item_center:nth-child(17){
  left: 0;
  top: 1980px;
}
.card_item_center:nth-child(18){
  right: 0;
  top: 2110px;
}
.card_item_center:nth-child(19){
  left: 0;
  top: 2240px;
}

.data{
  position: absolute;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #252525;
}
.data_1{
  top: -65px;
  right: -50px;
}
.data_2{
  top: -65px;
  left: -50px;
}
.data_3{
  top: -60px;
  right: -50px;
}
.data_4{
  top: -60px;
  left: -50px;
}
.data_5{
  top: -60px;
  right: -50px;
}
.data_6{
  top: -60px;
  left: -50px;
}
.data_7{
  top: -60px;
  right: -50px;
}
.data_8{
  top: -60px;
  left: -50px;
}
.data_9{
  top: -68px;
  right: -50px;
}
.data_10{
  top: -58px;
  left: -50px;
}
.data_11{
  top: -58px;
  right: -50px;
}
.data_12{
  top: -58px;
  left: -50px;
}
.data_13{
  top: -65px;
  right: -50px;
}
.data_14{
  top: -55px;
  left: -50px;
}
.data_15{
  top: -55px;
  right: -50px;
}
.data_16{
  top: -55px;
  left: -50px;
}
.data_17{
  top: -60px;
  right: -50px;
}


@media screen and (max-width: 1260px) {
  /* #container{
    padding: 30px;
  } */
  .data:nth-child(odd){
    right: -10px;
  }
  .data_2,
  .data_4, 
  .data_6, 
  .data_8, 
  .data_10, 
  .data_12,
  .data_14,
  .data_16,
  .data_18{
    left: 0px;
  }
  .position{
    left: 42%;
  }
}
.cards_center_mobile{
  display: none;
}
@media screen and (max-width: 1140px){
  .cards_center{
    display: none;
  }
  .cards_center_mobile{
    display: block;
  }
  .cards_center_img{
    display: block;
  }

}

.modbile_center_img{
  position: relative;
  top: 50px;
  left: -60px;
}
.card_item_mobile{
  max-width: 300px;
  min-height: 154px;
  box-shadow: 0px 2px 24px rgba(0, 64, 152, 0.1);
  border-radius: 20px;
  position: absolute;
  background-color: #fff;
  /* min-height: 1770px; */
  left: 60px;
}
.image_mobile{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.card_item_mobile p{
  padding: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #4D5257;
}
.data_mobile{
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #252525;
}
.mobile_1{
  top: 752px;
}
.data_mobile_1{
  left: 30px;
  top: -33px;
}
.mobile_2{
  top: 991px;
}
.mobile_3{
  top: 1305px;
}
.mobile_4{
  top: 1497px;
}
.mobile_5{
  top: 1811px;
}
.mobile_6{
  top: 2123px
}
@media screen and (max-width:961px) {
  .mobile_1{
    top: 900px;
  }
  .mobile_2{
    top: 1141px
  }
  .mobile_3{
    top: 1451px;
  }
  .mobile_4{
    top: 1647px;
  }
  .mobile_5{
    top: 1956px;
  }
  .mobile_6{
    top: 2271px;
  }
  
}
@media screen and (max-width:961px) {
 .title_second{
  height: 35px;
 }
  
}
@media screen and (max-width:400px) {
  .modbile_center_img{
    left: -20px;
  }
  
}
@media screen and (max-width:380px) {
  .card_item_mobile{
    left: 40px;
  }
  
}